name: App Store Build and Upload

on:
  push:
    branches: [ "main" ] # Kodunuzu main dalına gönderdiğinizde çalışır

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 'latest-stable'

    - name: Build and Archive
      env:
        BUNDLE_ID: ${{ secrets.BUNDLE_ID }}
      run: |
        xcodebuild -project ZooBLOCK.xcodeproj \
                   -scheme ZooBLOCK \
                   -sdk iphoneos \
                   -configuration Release \
                   -archivePath $PWD/build/ZooBLOCK.xcarchive \
                   clean archive \
                   CODE_SIGNING_ALLOWED=NO

    - name: Export and Upload
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
      run: |
        # Bu adımda uygulamanız paketlenir ve Apple'a gönderilir
        xcrun altool --upload-app \
          -f $PWD/build/ZooBLOCK.xcarchive \
          -t ios \
          -u "$APPLE_ID" \
          -p "$APPLE_PASSWORD"
