name: ZooBLOCK App Store Upload

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup API Key
        run: |
          mkdir -p ~/.appstoreconnect/private_keys
          echo "${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}" > ~/.appstoreconnect/private_keys/AuthKey_${{ secrets.APP_STORE_CONNECT_KEY_ID }}.p8

      - name: Build and Archive
        run: |
          xcodebuild -project ZooBLOCK.xcodeproj \
                     -scheme ZooBLOCK \
                     -sdk iphoneos \
                     -configuration Release \
                     -archivePath $PWD/build/ZooBLOCK.xcarchive \
                     -allowProvisioningUpdates \
                     -authenticationKeyID ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
                     -authenticationKeyIssuerID ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
                     archive

      - name: Upload to App Store
        run: |
          xcrun altool --upload-app \
            --type ios \
            --file $PWD/build/ZooBLOCK.xcarchive \
            --apiKey ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            --apiIssuer ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
